USE [master]
GO
/****** Object:  Database [healthcentersoft_db]    Script Date: 08/12/2025 13:44:37 ******/
CREATE DATABASE [healthcentersoft_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'healthcentersoft_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\healthcentersoft_db.mdf' , SIZE = 1048576KB , MAXSIZE = UNLIMITED, FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'healthcentersoft_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\healthcentersoft_db_log.ldf' , SIZE = 524288KB , MAXSIZE = 2048GB , FILEGROWTH = 131072KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [healthcentersoft_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [healthcentersoft_db]
GO
/****** Object:  User [hcs_sysadmin]    Script Date: 08/12/2025 13:44:37 ******/
CREATE USER [hcs_sysadmin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [hcs_dbadmin]    Script Date: 08/12/2025 13:44:37 ******/
CREATE USER [hcs_dbadmin] FOR LOGIN [hcs_dbadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ekani]    Script Date: 08/12/2025 13:44:37 ******/
CREATE USER [ekani] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dilangue]    Script Date: 08/12/2025 13:44:37 ******/
CREATE USER [dilangue] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_secretaire_region]    Script Date: 08/12/2025 13:44:37 ******/
CREATE ROLE [db_secretaire_region]
GO
/****** Object:  DatabaseRole [db_medecin_region]    Script Date: 08/12/2025 13:44:37 ******/
CREATE ROLE [db_medecin_region]
GO
/****** Object:  DatabaseRole [db_admin_region]    Script Date: 08/12/2025 13:44:37 ******/
CREATE ROLE [db_admin_region]
GO
ALTER ROLE [db_owner] ADD MEMBER [hcs_sysadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [hcs_dbadmin]
GO
ALTER ROLE [db_admin_region] ADD MEMBER [ekani]
GO
ALTER ROLE [db_owner] ADD MEMBER [ekani]
GO
ALTER ROLE [db_admin_region] ADD MEMBER [dilangue]
GO
ALTER ROLE [db_owner] ADD MEMBER [dilangue]
GO
/****** Object:  Schema [archive]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [archive]
GO
/****** Object:  Schema [audit]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [audit]
GO
/****** Object:  Schema [core]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [metier]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [metier]
GO
/****** Object:  Schema [ref]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [ref]
GO
/****** Object:  Schema [security]    Script Date: 08/12/2025 13:44:37 ******/
CREATE SCHEMA [security]
GO
/****** Object:  UserDefinedFunction [dbo].[fCalculAge]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fCalculAge] (
    @dateNaissance DATE,
    @dateReference DATE = NULL
)
RETURNS INT
AS
BEGIN
    IF @dateNaissance IS NULL
        RETURN NULL;
    
    IF @dateReference IS NULL
        SET @dateReference = GETDATE();
    
    RETURN DATEDIFF(YEAR, @dateNaissance, @dateReference) - 
           CASE WHEN DATEADD(YEAR, DATEDIFF(YEAR, @dateNaissance, @dateReference), @dateNaissance) > @dateReference 
                THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fFormatTelephone]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fFormatTelephone] (
    @telephone VARCHAR(20),
    @codePays VARCHAR(3)
)
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @codeTel VARCHAR(5);
    
    -- Récupérer le code téléphonique du pays
    SELECT @codeTel = CODE_TELEPHONE
    FROM [ref].[PAYS]
    WHERE COD_PAY = @codePays;
    
    IF @codeTel IS NULL
        RETURN @telephone;
    
    -- Nettoyer le numéro
    SET @telephone = REPLACE(REPLACE(REPLACE(@telephone, ' ', ''), '-', ''), '.', '');
    
    -- Si le numéro commence déjà par le code, le retourner tel quel
    IF LEFT(@telephone, LEN(@codeTel)) = @codeTel
        RETURN @telephone;
    
    -- Sinon, ajouter le code
    RETURN @codeTel + @telephone;
END;
GO
/****** Object:  Table [ref].[PAYS]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[PAYS](
	[COD_PAY] [varchar](3) NOT NULL,
	[LIB_PAY] [varchar](64) NOT NULL,
	[LANGUE_DEFAUT] [varchar](32) NOT NULL,
	[CAPITALE] [varchar](64) NULL,
	[DEVISE] [varchar](32) NULL,
	[CODE_TELEPHONE] [varchar](5) NULL,
	[ZONE_GEO] [varchar](32) NOT NULL,
	[POPULATION] [bigint] NULL,
	[SUPERFICIE] [decimal](12, 2) NULL,
	[COD_ISO3] [char](3) NULL,
	[INDICATIF_REGION] [varchar](10) NULL,
	[DATE_INDEPENDANCE] [date] NULL,
	[SYS_LANGUE] [varchar](32) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_PAYS] PRIMARY KEY CLUSTERED 
(
	[COD_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[BENEFICIAIRE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[BENEFICIAIRE](
	[ID_BEN] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[COD_REGION] [int] NULL,
	[CODE_TRIBAL] [varchar](20) NULL,
	[NOM_BEN] [varchar](64) NOT NULL,
	[FIL_BEN] [varchar](64) NULL,
	[PRE_BEN] [varchar](64) NULL,
	[SEX_BEN] [char](1) NULL,
	[NAI_BEN] [date] NULL,
	[LIEU_NAISSANCE] [varchar](64) NULL,
	[NUM_ADR] [int] NULL,
	[GROUPE_SANGUIN] [varchar](5) NULL,
	[RHESUS] [char](1) NULL,
	[COD_PAI] [tinyint] NOT NULL,
	[PROFESSION] [varchar](64) NULL,
	[SITUATION_FAMILIALE] [varchar](32) NULL,
	[NOMBRE_ENFANTS] [tinyint] NULL,
	[LANGUE_MATERNEL] [varchar](32) NULL,
	[LANGUE_PARLEE] [varchar](255) NULL,
	[RELIGION] [varchar](32) NULL,
	[NIVEAU_ETUDE] [varchar](32) NULL,
	[NUM_RIB] [int] NULL,
	[PRM_BEN] [varchar](255) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
	[IDENTIFIANT_NATIONAL] [varchar](20) NULL,
	[NUM_PASSEPORT] [varchar](20) NULL,
	[SUSPENSION_DATE] [date] NULL,
	[RETRAIT_DATE] [date] NULL,
	[ANTECEDENTS_MEDICAUX] [varchar](2000) NULL,
	[ALLERGIES] [varchar](500) NULL,
	[TRAITEMENTS_EN_COURS] [varchar](1000) NULL,
	[CONTACT_URGENCE] [varchar](100) NULL,
	[TEL_URGENCE] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[TELEPHONE_MOBILE] [varchar](20) NULL,
	[PHOTO] [varchar](255) NULL,
	[EMPLOYEUR] [varchar](100) NULL,
	[SALAIRE] [decimal](12, 2) NULL,
	[ZONE_HABITATION] [varchar](50) NULL,
	[TYPE_HABITAT] [varchar](30) NULL,
	[ACCES_EAU] [bit] NULL,
	[ACCES_ELECTRICITE] [bit] NULL,
	[DISTANCE_CENTRE_SANTE] [int] NULL,
	[MOYEN_TRANSPORT] [varchar](30) NULL,
	[ASSURANCE_PRIVE] [bit] NULL,
	[MUTUELLE] [varchar](50) NULL,
 CONSTRAINT [PK_BENEFICIAIRE] PRIMARY KEY CLUSTERED 
(
	[ID_BEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [core].[V_BENEFICIAIRES_PAR_PAYS]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [core].[V_BENEFICIAIRES_PAR_PAYS]
AS
SELECT 
    p.COD_PAY,
    p.LIB_PAY,
    p.LANGUE_DEFAUT,
    COUNT(b.ID_BEN) AS NOMBRE_BENEFICIAIRES,
    SUM(CASE WHEN b.SEX_BEN = 'M' THEN 1 ELSE 0 END) AS HOMMES,
    SUM(CASE WHEN b.SEX_BEN = 'F' THEN 1 ELSE 0 END) AS FEMMES,
    AVG(dbo.fCalculAge(b.NAI_BEN, GETDATE())) AS AGE_MOYEN,
    MIN(dbo.fCalculAge(b.NAI_BEN, GETDATE())) AS AGE_MIN,
    MAX(dbo.fCalculAge(b.NAI_BEN, GETDATE())) AS AGE_MAX,
    COUNT(CASE WHEN b.SUSPENSION_DATE IS NOT NULL THEN 1 END) AS SUSPENDUS,
    COUNT(CASE WHEN b.RETRAIT_DATE IS NOT NULL THEN 1 END) AS RETIRES
FROM [ref].[PAYS] p
LEFT JOIN [core].[BENEFICIAIRE] b ON p.COD_PAY = b.COD_PAY
WHERE b.RETRAIT_DATE IS NULL
GROUP BY p.COD_PAY, p.LIB_PAY, p.LANGUE_DEFAUT;
GO
/****** Object:  Table [metier].[PATHOLOGIE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metier].[PATHOLOGIE](
	[COD_PATH] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[NOM_PATHOLOGIE] [varchar](100) NOT NULL,
	[CATEGORIE] [varchar](50) NULL,
	[TYPE_PATHOLOGIE] [varchar](30) NULL,
	[ENDEMIQUE_REGION] [bit] NULL,
	[SAISONNALITE] [varchar](50) NULL,
	[VECTEUR] [varchar](100) NULL,
	[SYMPTOMES] [varchar](1000) NULL,
	[TRAITEMENT_STANDARD] [varchar](500) NULL,
	[PREVENTION] [varchar](500) NULL,
	[GRAVITE] [varchar](20) NULL,
	[NOTIFICATION_OBLIGATOIRE] [bit] NULL,
	[VACCIN_DISPONIBLE] [bit] NULL,
	[NOM_VACCIN] [varchar](100) NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_PATHOLOGIE] PRIMARY KEY CLUSTERED 
(
	[COD_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [metier].[V_PATHOLOGIES_PAR_PAYS]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [metier].[V_PATHOLOGIES_PAR_PAYS]
AS
SELECT 
    pa.COD_PAY,
    pa.LIB_PAY,
    COUNT(path.COD_PATH) AS NOMBRE_PATHOLOGIES,
    SUM(CASE WHEN path.ENDEMIQUE_REGION = 1 THEN 1 ELSE 0 END) AS PATHOLOGIES_ENDEMIQUES,
    STRING_AGG(path.NOM_PATHOLOGIE, ', ') AS LISTE_PATHOLOGIES
FROM [ref].[PAYS] pa
LEFT JOIN [metier].[PATHOLOGIE] path ON pa.COD_PAY = path.COD_PAY
WHERE path.ACTIF = 1
GROUP BY pa.COD_PAY, pa.LIB_PAY;
GO
/****** Object:  Table [audit].[SYSTEM_AUDIT]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[SYSTEM_AUDIT](
	[AUDIT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATE_AUDIT] [datetime] NOT NULL,
	[TYPE_ACTION] [varchar](20) NOT NULL,
	[TABLE_CONCERNEE] [varchar](100) NULL,
	[ID_ENREGISTREMENT] [varchar](50) NULL,
	[UTILISATEUR] [varchar](100) NULL,
	[MACHINE] [varchar](100) NULL,
	[ADRESSE_IP] [varchar](50) NULL,
	[DONNEES_AVANT] [nvarchar](max) NULL,
	[DONNEES_APRES] [nvarchar](max) NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[STATUT] [varchar](20) NULL,
	[DUREE_MS] [int] NULL,
 CONSTRAINT [PK_SYSTEM_AUDIT] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [core].[ADRESSE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[ADRESSE](
	[NUM_ADR] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[COD_REGION] [int] NULL,
	[QUARTIER] [varchar](64) NULL,
	[AVENUE] [varchar](64) NULL,
	[NUMERO_MAISON] [varchar](20) NULL,
	[LOT] [varchar](20) NULL,
	[ILOT] [varchar](20) NULL,
	[ADR1] [varchar](100) NULL,
	[ADR2] [varchar](100) NULL,
	[BP] [varchar](10) NULL,
	[CP] [varchar](10) NULL,
	[COD_VIL] [int] NULL,
	[TEL_FIXE] [varchar](20) NULL,
	[TEL_MOBILE] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[SITE_WEB] [varchar](100) NULL,
	[COORD_GPS] [varchar](50) NULL,
	[TYPE_ADRESSE] [varchar](20) NULL,
	[PRINCIPALE] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_ADRESSE] PRIMARY KEY CLUSTERED 
(
	[NUM_ADR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[CENTRE_SANTE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[CENTRE_SANTE](
	[COD_CEN] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[COD_REGION] [int] NULL,
	[NOM_CENTRE] [varchar](100) NOT NULL,
	[TYPE_CENTRE] [varchar](50) NOT NULL,
	[CATEGORIE_CENTRE] [varchar](30) NULL,
	[NUM_ADR] [int] NULL,
	[TELEPHONE] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[SITE_WEB] [varchar](100) NULL,
	[DATE_CREATION] [date] NULL,
	[DIRECTEUR] [varchar](100) NULL,
	[NOMBRE_LITS] [int] NULL,
	[NOMBRE_MEDECINS] [int] NULL,
	[NOMBRE_INFIRMIERS] [int] NULL,
	[SPECIALITES] [varchar](500) NULL,
	[EQUIPEMENTS] [varchar](1000) NULL,
	[HORAIRES_OUVERTURE] [varchar](100) NULL,
	[URGENCES_24H] [bit] NULL,
	[LABORATOIRE] [bit] NULL,
	[PHARMACIE] [bit] NULL,
	[RADIOLOGIE] [bit] NULL,
	[CHIRURGIE] [bit] NULL,
	[MATERNITE] [bit] NULL,
	[PEDIATRIE] [bit] NULL,
	[AGREMENT_NUMERO] [varchar](50) NULL,
	[DATE_AGREMENT] [date] NULL,
	[DATE_EXPIRATION_AGREMENT] [date] NULL,
	[STATUT] [varchar](20) NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_CENTRE_SANTE] PRIMARY KEY CLUSTERED 
(
	[COD_CEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[CONSULTATION]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[CONSULTATION](
	[COD_CONS] [int] IDENTITY(1,1) NOT NULL,
	[COD_BEN] [int] NOT NULL,
	[COD_CEN] [int] NULL,
	[COD_PRE] [int] NULL,
	[DATE_CONSULTATION] [datetime] NOT NULL,
	[TYPE_CONSULTATION] [varchar](30) NULL,
	[MOTIF_CONSULTATION] [varchar](500) NULL,
	[OBSERVATIONS] [varchar](1000) NULL,
	[DIAGNOSTIC] [varchar](500) NULL,
	[TA] [varchar](20) NULL,
	[POIDS] [decimal](5, 2) NULL,
	[TAILLE] [decimal](5, 2) NULL,
	[TEMPERATURE] [decimal](4, 1) NULL,
	[POULS] [int] NULL,
	[FREQUENCE_RESPIRATOIRE] [int] NULL,
	[GLYCEMIE] [decimal](5, 2) NULL,
	[EXAMENS_COMPLEMENTAIRES] [varchar](500) NULL,
	[TRAITEMENT_PRESCRIT] [varchar](1000) NULL,
	[PROCHAIN_RDV] [date] NULL,
	[MONTANT_CONSULTATION] [decimal](12, 2) NULL,
	[STATUT_PAIEMENT] [varchar](20) NULL,
	[URGENT] [bit] NULL,
	[HOSPITALISATION] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
	[MONTANT_PRISE_EN_CHARGE] [decimal](12, 2) NULL,
	[RESTE_A_CHARGE] [decimal](12, 2) NULL,
	[TAUX_PRISE_EN_CHARGE] [decimal](5, 2) NULL,
 CONSTRAINT [PK_CONSULTATION] PRIMARY KEY CLUSTERED 
(
	[COD_CONS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[PRESTATAIRE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[PRESTATAIRE](
	[COD_PRE] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[TYPE_PRESTATAIRE] [varchar](30) NOT NULL,
	[NOM_PRESTATAIRE] [varchar](100) NOT NULL,
	[PRENOM_PRESTATAIRE] [varchar](100) NULL,
	[SPECIALITE] [varchar](100) NULL,
	[TITRE] [varchar](50) NULL,
	[NUM_LICENCE] [varchar](50) NULL,
	[NUM_ORDRE] [varchar](50) NULL,
	[DATE_OBTENTION_LICENCE] [date] NULL,
	[DATE_EXPIRATION_LICENCE] [date] NULL,
	[UNIVERSITE_FORMATION] [varchar](100) NULL,
	[ANNEE_DIPLOME] [int] NULL,
	[NUM_ADR] [int] NULL,
	[TELEPHONE] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[CENTRE_PRATIQUE] [varchar](200) NULL,
	[COD_CEN] [int] NULL,
	[HONORAIRES] [decimal](12, 2) NULL,
	[LANGUE_PARLEE] [varchar](100) NULL,
	[EXPERIENCE_ANNEE] [int] NULL,
	[DISPONIBILITE] [varchar](100) NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_PRESTATAIRE] PRIMARY KEY CLUSTERED 
(
	[COD_PRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [metier].[MEDICAMENT]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metier].[MEDICAMENT](
	[COD_MED] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[NOM_COMMERCIAL] [varchar](100) NOT NULL,
	[NOM_GENERIQUE] [varchar](100) NULL,
	[FORME_PHARMACEUTIQUE] [varchar](50) NULL,
	[DOSAGE] [varchar](50) NULL,
	[CLASSE_THERAPEUTIQUE] [varchar](100) NULL,
	[INDICATIONS] [varchar](500) NULL,
	[CONTRE_INDICATIONS] [varchar](500) NULL,
	[EFFETS_SECONDAIRES] [varchar](500) NULL,
	[POSOLOGIE_STANDARD] [varchar](200) NULL,
	[VOIE_ADMINISTRATION] [varchar](50) NULL,
	[CONDITIONNEMENT] [varchar](100) NULL,
	[PRIX_UNITAIRE] [decimal](12, 2) NULL,
	[REMBOURSABLE] [bit] NULL,
	[EXIGE_ORDONNANCE] [bit] NULL,
	[STOCK_MINIMUM] [int] NULL,
	[STOCK_ALERTE] [int] NULL,
	[FABRICANT] [varchar](100) NULL,
	[PAYS_FABRICATION] [varchar](50) NULL,
	[DATE_MISE_SUR_MARCHE] [date] NULL,
	[DATE_EXPIRATION] [date] NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_MEDICAMENT] PRIMARY KEY CLUSTERED 
(
	[COD_MED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [metier].[TYPE_CONSULTATION]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [metier].[TYPE_CONSULTATION](
	[COD_TYP_CONS] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[LIB_TYP_CONS] [varchar](100) NOT NULL,
	[MONTANT] [decimal](12, 2) NOT NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_TYPE_CONSULTATION] PRIMARY KEY CLUSTERED 
(
	[COD_TYP_CONS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[LANGUE_REGION]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[LANGUE_REGION](
	[COD_LANG] [varchar](10) NOT NULL,
	[LIB_LANG] [varchar](64) NOT NULL,
	[FAMILLE_LINGUISTIQUE] [varchar](64) NULL,
	[STATUT_OFFICIEL] [bit] NULL,
	[NOMBRE_LOCUTEURS] [bigint] NULL,
	[PAYS_PRATIQUE] [varchar](255) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_LANGUE_REGION] PRIMARY KEY CLUSTERED 
(
	[COD_LANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[REGION_ADMIN]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[REGION_ADMIN](
	[COD_REG] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[LIB_REG] [varchar](64) NOT NULL,
	[TYPE_REGION] [varchar](32) NULL,
	[CAPITALE_REGION] [varchar](64) NULL,
	[POPULATION_REGION] [bigint] NULL,
	[SUPERFICIE_REGION] [decimal](12, 2) NULL,
	[LANGUE_PRINCIPALE] [varchar](32) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_REGION_ADMIN] PRIMARY KEY CLUSTERED 
(
	[COD_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[TYPE_PAIEMENT]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[TYPE_PAIEMENT](
	[COD_PAI] [tinyint] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[LIB_PAI] [varchar](64) NOT NULL,
	[TYPE_COUVERTURE] [varchar](30) NULL,
	[TAUX_COUVERTURE] [decimal](5, 2) NULL,
	[PLAFOND_ANNUEL] [decimal](12, 2) NULL,
	[ACTIF] [bit] NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_TYPE_PAIEMENT] PRIMARY KEY CLUSTERED 
(
	[COD_PAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[VILLE]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[VILLE](
	[COD_VIL] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[COD_REG] [int] NULL,
	[LIB_VIL] [varchar](64) NOT NULL,
	[TYPE_VILLE] [varchar](32) NULL,
	[POPULATION] [int] NULL,
	[ALTITUDE] [int] NULL,
	[COORDONNEES_GPS] [varchar](50) NULL,
	[CDPOS_VIL] [varchar](10) NULL,
	[INDICATIF_TEL] [varchar](5) NULL,
	[FUSEAU_HORAIRE] [varchar](10) NULL,
	[CLIMAT] [varchar](32) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_VILLE] PRIMARY KEY CLUSTERED 
(
	[COD_VIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[UTILISATEUR]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[UTILISATEUR](
	[ID_UTI] [int] IDENTITY(1,1) NOT NULL,
	[COD_PAY] [varchar](3) NOT NULL,
	[LOG_UTI] [varchar](32) NOT NULL,
	[PWD_UTI] [varchar](256) NOT NULL,
	[SALT_UTI] [varchar](64) NULL,
	[NOM_UTI] [varchar](64) NOT NULL,
	[PRE_UTI] [varchar](64) NOT NULL,
	[SEX_UTI] [char](1) NULL,
	[NAISSANCE_UTI] [date] NULL,
	[EMAIL_UTI] [varchar](100) NULL,
	[TEL_UTI] [varchar](20) NULL,
	[TEL_MOBILE_UTI] [varchar](20) NULL,
	[FONCTION_UTI] [varchar](64) NULL,
	[SERVICE_UTI] [varchar](64) NULL,
	[PROFIL_UTI] [varchar](32) NOT NULL,
	[LANGUE_UTI] [varchar](32) NULL,
	[TIMEZONE_UTI] [varchar](50) NULL,
	[DATE_FORMAT] [varchar](20) NULL,
	[THEME_UTI] [varchar](20) NULL,
	[DATE_PWD_CHANGE] [date] NULL,
	[DATE_DERNIERE_CONNEXION] [datetime] NULL,
	[NB_TENTATIVES_ECHOUES] [tinyint] NULL,
	[COMPTE_BLOQUE] [bit] NULL,
	[DATE_DEBUT_VALIDITE] [date] NULL,
	[DATE_FIN_VALIDITE] [date] NULL,
	[ACTIF] [bit] NULL,
	[SUPER_ADMIN] [bit] NULL,
	[DROITS_SPECIAUX] [varchar](500) NULL,
	[SIGNATURE_DIGITALE] [varchar](255) NULL,
	[PHOTO_UTI] [varchar](255) NULL,
	[COD_CREUTIL] [varchar](16) NULL,
	[COD_MODUTIL] [varchar](16) NULL,
	[DAT_CREUTIL] [datetime] NULL,
	[DAT_MODUTIL] [datetime] NULL,
 CONSTRAINT [PK_UTILISATEUR] PRIMARY KEY CLUSTERED 
(
	[ID_UTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UTILISATEUR_EMAIL] UNIQUE NONCLUSTERED 
(
	[EMAIL_UTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UTILISATEUR_LOG] UNIQUE NONCLUSTERED 
(
	[LOG_UTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUDIT_DATE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_AUDIT_DATE] ON [audit].[SYSTEM_AUDIT]
(
	[DATE_AUDIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AUDIT_TYPE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_AUDIT_TYPE] ON [audit].[SYSTEM_AUDIT]
(
	[TYPE_ACTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AUDIT_UTILISATEUR]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_AUDIT_UTILISATEUR] ON [audit].[SYSTEM_AUDIT]
(
	[UTILISATEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADRESSE_COD_PAY]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_ADRESSE_COD_PAY] ON [core].[ADRESSE]
(
	[COD_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADRESSE_COD_VIL]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_ADRESSE_COD_VIL] ON [core].[ADRESSE]
(
	[COD_VIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BENEFICIAIRE_COD_PAY]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_BENEFICIAIRE_COD_PAY] ON [core].[BENEFICIAIRE]
(
	[COD_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BENEFICIAIRE_IDENTIFIANT]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_BENEFICIAIRE_IDENTIFIANT] ON [core].[BENEFICIAIRE]
(
	[IDENTIFIANT_NATIONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BENEFICIAIRE_NAI]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_BENEFICIAIRE_NAI] ON [core].[BENEFICIAIRE]
(
	[NAI_BEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BENEFICIAIRE_NOM]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_BENEFICIAIRE_NOM] ON [core].[BENEFICIAIRE]
(
	[NOM_BEN] ASC,
	[PRE_BEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BENEFICIAIRE_TELEPHONE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_BENEFICIAIRE_TELEPHONE] ON [core].[BENEFICIAIRE]
(
	[TELEPHONE_MOBILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CENTRE_SANTE_PAYS]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CENTRE_SANTE_PAYS] ON [core].[CENTRE_SANTE]
(
	[COD_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CENTRE_SANTE_STATUT]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CENTRE_SANTE_STATUT] ON [core].[CENTRE_SANTE]
(
	[STATUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CENTRE_SANTE_TYPE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CENTRE_SANTE_TYPE] ON [core].[CENTRE_SANTE]
(
	[TYPE_CENTRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONSULTATION_BENEFICIAIRE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CONSULTATION_BENEFICIAIRE] ON [core].[CONSULTATION]
(
	[COD_BEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONSULTATION_CENTRE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CONSULTATION_CENTRE] ON [core].[CONSULTATION]
(
	[COD_CEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CONSULTATION_DATE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_CONSULTATION_DATE] ON [core].[CONSULTATION]
(
	[DATE_CONSULTATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRESTATAIRE_CENTRE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_PRESTATAIRE_CENTRE] ON [core].[PRESTATAIRE]
(
	[COD_CEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRESTATAIRE_NOM]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_PRESTATAIRE_NOM] ON [core].[PRESTATAIRE]
(
	[NOM_PRESTATAIRE] ASC,
	[PRENOM_PRESTATAIRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRESTATAIRE_SPECIALITE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_PRESTATAIRE_SPECIALITE] ON [core].[PRESTATAIRE]
(
	[SPECIALITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PAYS_LANGUE]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_PAYS_LANGUE] ON [ref].[PAYS]
(
	[LANGUE_DEFAUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PAYS_ZONE_GEO]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_PAYS_ZONE_GEO] ON [ref].[PAYS]
(
	[ZONE_GEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VILLE_COD_PAY]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_VILLE_COD_PAY] ON [ref].[VILLE]
(
	[COD_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VILLE_COD_REG]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_VILLE_COD_REG] ON [ref].[VILLE]
(
	[COD_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UTILISATEUR_ACTIF]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_UTILISATEUR_ACTIF] ON [security].[UTILISATEUR]
(
	[ACTIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UTILISATEUR_NOM]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_UTILISATEUR_NOM] ON [security].[UTILISATEUR]
(
	[NOM_UTI] ASC,
	[PRE_UTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UTILISATEUR_PROFIL]    Script Date: 08/12/2025 13:44:37 ******/
CREATE NONCLUSTERED INDEX [IX_UTILISATEUR_PROFIL] ON [security].[UTILISATEUR]
(
	[PROFIL_UTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [audit].[SYSTEM_AUDIT] ADD  DEFAULT (getdate()) FOR [DATE_AUDIT]
GO
ALTER TABLE [core].[ADRESSE] ADD  DEFAULT ('Personnelle') FOR [TYPE_ADRESSE]
GO
ALTER TABLE [core].[ADRESSE] ADD  DEFAULT ((1)) FOR [PRINCIPALE]
GO
ALTER TABLE [core].[ADRESSE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [core].[ADRESSE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [core].[BENEFICIAIRE] ADD  DEFAULT ('CMF') FOR [COD_PAY]
GO
ALTER TABLE [core].[BENEFICIAIRE] ADD  DEFAULT ((1)) FOR [COD_PAI]
GO
ALTER TABLE [core].[BENEFICIAIRE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [core].[BENEFICIAIRE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [URGENCES_24H]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [LABORATOIRE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [PHARMACIE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [RADIOLOGIE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [CHIRURGIE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [MATERNITE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((0)) FOR [PEDIATRIE]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ('Actif') FOR [STATUT]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [core].[CENTRE_SANTE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT ((0)) FOR [URGENT]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT ((0)) FOR [HOSPITALISATION]
GO
ALTER TABLE [core].[CONSULTATION] ADD  CONSTRAINT [DF_CONSULTATION_COD_CREUTIL]  DEFAULT ('SYSTEM') FOR [COD_CREUTIL]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT ((0)) FOR [MONTANT_PRISE_EN_CHARGE]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT ((0)) FOR [RESTE_A_CHARGE]
GO
ALTER TABLE [core].[CONSULTATION] ADD  DEFAULT ((0)) FOR [TAUX_PRISE_EN_CHARGE]
GO
ALTER TABLE [core].[PRESTATAIRE] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [core].[PRESTATAIRE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [core].[PRESTATAIRE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [metier].[MEDICAMENT] ADD  DEFAULT ((0)) FOR [REMBOURSABLE]
GO
ALTER TABLE [metier].[MEDICAMENT] ADD  DEFAULT ((1)) FOR [EXIGE_ORDONNANCE]
GO
ALTER TABLE [metier].[MEDICAMENT] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [metier].[MEDICAMENT] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [metier].[MEDICAMENT] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT ((0)) FOR [ENDEMIQUE_REGION]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT ((0)) FOR [NOTIFICATION_OBLIGATOIRE]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT ((0)) FOR [VACCIN_DISPONIBLE]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [metier].[PATHOLOGIE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [metier].[TYPE_CONSULTATION] ADD  DEFAULT ('CMF') FOR [COD_PAY]
GO
ALTER TABLE [metier].[TYPE_CONSULTATION] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [metier].[TYPE_CONSULTATION] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [metier].[TYPE_CONSULTATION] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [ref].[LANGUE_REGION] ADD  DEFAULT ((0)) FOR [STATUT_OFFICIEL]
GO
ALTER TABLE [ref].[LANGUE_REGION] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [ref].[LANGUE_REGION] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [ref].[PAYS] ADD  DEFAULT ('Afrique Centrale') FOR [ZONE_GEO]
GO
ALTER TABLE [ref].[PAYS] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [ref].[PAYS] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [ref].[REGION_ADMIN] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [ref].[REGION_ADMIN] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [ref].[TYPE_PAIEMENT] ADD  DEFAULT ('CMF') FOR [COD_PAY]
GO
ALTER TABLE [ref].[TYPE_PAIEMENT] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [ref].[TYPE_PAIEMENT] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [ref].[TYPE_PAIEMENT] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [ref].[VILLE] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [ref].[VILLE] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('CMF') FOR [COD_PAY]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('Utilisateur') FOR [PROFIL_UTI]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('Français') FOR [LANGUE_UTI]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('Africa/Douala') FOR [TIMEZONE_UTI]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('dd/MM/yyyy') FOR [DATE_FORMAT]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ('Clair') FOR [THEME_UTI]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ((0)) FOR [NB_TENTATIVES_ECHOUES]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ((0)) FOR [COMPTE_BLOQUE]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT (getdate()) FOR [DATE_DEBUT_VALIDITE]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT ((0)) FOR [SUPER_ADMIN]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT (getdate()) FOR [DAT_CREUTIL]
GO
ALTER TABLE [security].[UTILISATEUR] ADD  DEFAULT (getdate()) FOR [DAT_MODUTIL]
GO
ALTER TABLE [core].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [core].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_PAYS]
GO
ALTER TABLE [core].[ADRESSE]  WITH CHECK ADD  CONSTRAINT [FK_ADRESSE_VILLE] FOREIGN KEY([COD_VIL])
REFERENCES [ref].[VILLE] ([COD_VIL])
GO
ALTER TABLE [core].[ADRESSE] CHECK CONSTRAINT [FK_ADRESSE_VILLE]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [FK_BENEFICIAIRE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [FK_BENEFICIAIRE_PAYS]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [FK_BENEFICIAIRE_TYPE_PAIEMENT] FOREIGN KEY([COD_PAI])
REFERENCES [ref].[TYPE_PAIEMENT] ([COD_PAI])
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [FK_BENEFICIAIRE_TYPE_PAIEMENT]
GO
ALTER TABLE [core].[CENTRE_SANTE]  WITH CHECK ADD  CONSTRAINT [FK_CENTRE_SANTE_ADRESSE] FOREIGN KEY([NUM_ADR])
REFERENCES [core].[ADRESSE] ([NUM_ADR])
GO
ALTER TABLE [core].[CENTRE_SANTE] CHECK CONSTRAINT [FK_CENTRE_SANTE_ADRESSE]
GO
ALTER TABLE [core].[CENTRE_SANTE]  WITH CHECK ADD  CONSTRAINT [FK_CENTRE_SANTE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [core].[CENTRE_SANTE] CHECK CONSTRAINT [FK_CENTRE_SANTE_PAYS]
GO
ALTER TABLE [core].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_BENEFICIAIRE] FOREIGN KEY([COD_BEN])
REFERENCES [core].[BENEFICIAIRE] ([ID_BEN])
GO
ALTER TABLE [core].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_BENEFICIAIRE]
GO
ALTER TABLE [core].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_CENTRE] FOREIGN KEY([COD_CEN])
REFERENCES [core].[CENTRE_SANTE] ([COD_CEN])
GO
ALTER TABLE [core].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_CENTRE]
GO
ALTER TABLE [core].[CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_CONSULTATION_PRESTATAIRE] FOREIGN KEY([COD_PRE])
REFERENCES [core].[PRESTATAIRE] ([COD_PRE])
GO
ALTER TABLE [core].[CONSULTATION] CHECK CONSTRAINT [FK_CONSULTATION_PRESTATAIRE]
GO
ALTER TABLE [core].[PRESTATAIRE]  WITH CHECK ADD  CONSTRAINT [FK_PRESTATAIRE_CENTRE] FOREIGN KEY([COD_CEN])
REFERENCES [core].[CENTRE_SANTE] ([COD_CEN])
GO
ALTER TABLE [core].[PRESTATAIRE] CHECK CONSTRAINT [FK_PRESTATAIRE_CENTRE]
GO
ALTER TABLE [core].[PRESTATAIRE]  WITH CHECK ADD  CONSTRAINT [FK_PRESTATAIRE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [core].[PRESTATAIRE] CHECK CONSTRAINT [FK_PRESTATAIRE_PAYS]
GO
ALTER TABLE [metier].[MEDICAMENT]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENT_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [metier].[MEDICAMENT] CHECK CONSTRAINT [FK_MEDICAMENT_PAYS]
GO
ALTER TABLE [metier].[PATHOLOGIE]  WITH CHECK ADD  CONSTRAINT [FK_PATHOLOGIE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [metier].[PATHOLOGIE] CHECK CONSTRAINT [FK_PATHOLOGIE_PAYS]
GO
ALTER TABLE [metier].[TYPE_CONSULTATION]  WITH CHECK ADD  CONSTRAINT [FK_TYPE_CONSULTATION_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [metier].[TYPE_CONSULTATION] CHECK CONSTRAINT [FK_TYPE_CONSULTATION_PAYS]
GO
ALTER TABLE [ref].[REGION_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_REGION_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [ref].[REGION_ADMIN] CHECK CONSTRAINT [FK_REGION_PAYS]
GO
ALTER TABLE [ref].[TYPE_PAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_TYPE_PAIEMENT_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [ref].[TYPE_PAIEMENT] CHECK CONSTRAINT [FK_TYPE_PAIEMENT_PAYS]
GO
ALTER TABLE [ref].[VILLE]  WITH CHECK ADD  CONSTRAINT [FK_VILLE_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [ref].[VILLE] CHECK CONSTRAINT [FK_VILLE_PAYS]
GO
ALTER TABLE [security].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [FK_UTILISATEUR_PAYS] FOREIGN KEY([COD_PAY])
REFERENCES [ref].[PAYS] ([COD_PAY])
GO
ALTER TABLE [security].[UTILISATEUR] CHECK CONSTRAINT [FK_UTILISATEUR_PAYS]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [CHK_BENEFICIAIRE_NAI] CHECK  (([NAI_BEN] IS NULL OR [NAI_BEN]<=getdate()))
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [CHK_BENEFICIAIRE_NAI]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [CHK_BENEFICIAIRE_SEX] CHECK  (([SEX_BEN]='O' OR [SEX_BEN]='F' OR [SEX_BEN]='M'))
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [CHK_BENEFICIAIRE_SEX]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [CHK_GROUPE_SANGUIN] CHECK  (([GROUPE_SANGUIN] IS NULL OR ([GROUPE_SANGUIN]='O' OR [GROUPE_SANGUIN]='AB' OR [GROUPE_SANGUIN]='B' OR [GROUPE_SANGUIN]='A')))
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [CHK_GROUPE_SANGUIN]
GO
ALTER TABLE [core].[BENEFICIAIRE]  WITH CHECK ADD  CONSTRAINT [CHK_RHESUS] CHECK  (([RHESUS] IS NULL OR ([RHESUS]='-' OR [RHESUS]='+')))
GO
ALTER TABLE [core].[BENEFICIAIRE] CHECK CONSTRAINT [CHK_RHESUS]
GO
ALTER TABLE [security].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [CHK_PROFIL_UTI] CHECK  (([PROFIL_UTI]='Utilisateur' OR [PROFIL_UTI]='Caissier' OR [PROFIL_UTI]='Secretaire' OR [PROFIL_UTI]='Infirmier' OR [PROFIL_UTI]='Medecin' OR [PROFIL_UTI]='Admin' OR [PROFIL_UTI]='SuperAdmin'))
GO
ALTER TABLE [security].[UTILISATEUR] CHECK CONSTRAINT [CHK_PROFIL_UTI]
GO
ALTER TABLE [security].[UTILISATEUR]  WITH CHECK ADD  CONSTRAINT [CHK_UTILISATEUR_SEX] CHECK  (([SEX_UTI]='O' OR [SEX_UTI]='F' OR [SEX_UTI]='M'))
GO
ALTER TABLE [security].[UTILISATEUR] CHECK CONSTRAINT [CHK_UTILISATEUR_SEX]
GO
/****** Object:  StoredProcedure [core].[usp_AddBeneficiaireRegion]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [core].[usp_AddBeneficiaireRegion]
    @cod_pay VARCHAR(3),
    @nom_ben VARCHAR(64),
    @pre_ben VARCHAR(64),
    @sex_ben CHAR(1),
    @nai_ben DATE,
    @identifiant_national VARCHAR(20) = NULL,
    @telephone VARCHAR(20) = NULL,
    @utilisateur VARCHAR(16)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Vérifier que le pays existe
        IF NOT EXISTS (SELECT 1 FROM [ref].[PAYS] WHERE COD_PAY = @cod_pay)
        BEGIN
            RAISERROR('Pays non valide pour la région Afrique Centrale.', 16, 1);
            RETURN;
        END
        
        -- Vérifier l'âge minimum (au moins 0 ans)
        IF @nai_ben > GETDATE()
        BEGIN
            RAISERROR('La date de naissance ne peut pas être dans le futur.', 16, 1);
            RETURN;
        END
        
        -- Formater le téléphone si fourni
        IF @telephone IS NOT NULL
        BEGIN
            SET @telephone = dbo.fFormatTelephone(@telephone, @cod_pay);
        END
        
        -- Insérer le bénéficiaire
        INSERT INTO [core].[BENEFICIAIRE] (
            COD_PAY, NOM_BEN, PRE_BEN, SEX_BEN, NAI_BEN,
            IDENTIFIANT_NATIONAL, TELEPHONE_MOBILE,
            COD_CREUTIL, DAT_CREUTIL, COD_MODUTIL, DAT_MODUTIL
        )
        VALUES (
            @cod_pay, @nom_ben, @pre_ben, @sex_ben, @nai_ben,
            @identifiant_national, @telephone,
            @utilisateur, GETDATE(), @utilisateur, GETDATE()
        );
        
        DECLARE @new_id INT = SCOPE_IDENTITY();
        
        -- Journaliser l'action
        INSERT INTO [audit].[SYSTEM_AUDIT] 
            (TYPE_ACTION, TABLE_CONCERNEE, ID_ENREGISTREMENT, UTILISATEUR, DESCRIPTION)
        VALUES 
            ('INSERT', 'BENEFICIAIRE', @new_id, @utilisateur, 
             CONCAT('Ajout bénéficiaire région ', @cod_pay));
        
        COMMIT TRANSACTION;
        
        SELECT @new_id AS NewBeneficiaireID, 'Success' AS Status;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT -1 AS NewBeneficiaireID, 
               ERROR_MESSAGE() AS Status;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [core].[usp_RapportStatistiquePays]    Script Date: 08/12/2025 13:44:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [core].[usp_RapportStatistiquePays]
    @cod_pay VARCHAR(3) = NULL,
    @date_debut DATE = NULL,
    @date_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @date_debut IS NULL
        SET @date_debut = DATEADD(MONTH, -6, GETDATE());
    
    IF @date_fin IS NULL
        SET @date_fin = GETDATE();
    
    -- Rapport détaillé par pays
    SELECT 
        p.COD_PAY,
        p.LIB_PAY,
        p.LANGUE_DEFAUT,
        p.CAPITALE,
        -- Statistiques bénéficiaires
        (SELECT COUNT(*) FROM [core].[BENEFICIAIRE] b 
         WHERE b.COD_PAY = p.COD_PAY AND b.RETRAIT_DATE IS NULL) AS BENEFICIAIRES_ACTIFS,
        
        (SELECT COUNT(*) FROM [core].[BENEFICIAIRE] b 
         WHERE b.COD_PAY = p.COD_PAY AND b.SEX_BEN = 'M' AND b.RETRAIT_DATE IS NULL) AS HOMMES,
        
        (SELECT COUNT(*) FROM [core].[BENEFICIAIRE] b 
         WHERE b.COD_PAY = p.COD_PAY AND b.SEX_BEN = 'F' AND b.RETRAIT_DATE IS NULL) AS FEMMES,
        
        -- Statistiques consultations
        (SELECT COUNT(*) FROM [core].[CONSULTATION] c
         INNER JOIN [core].[BENEFICIAIRE] b ON c.COD_BEN = b.ID_BEN
         WHERE b.COD_PAY = p.COD_PAY 
           AND c.DATE_CONSULTATION BETWEEN @date_debut AND @date_fin) AS CONSULTATIONS_PERIODE,
        
        -- Statistiques centres
        (SELECT COUNT(*) FROM [core].[CENTRE_SANTE] cs
         WHERE cs.COD_PAY = p.COD_PAY AND cs.ACTIF = 1) AS CENTRES_ACTIFS,
        
        -- Pathologies principales
        (SELECT STRING_AGG(NOM_PATHOLOGIE, ', ') 
         FROM [metier].[PATHOLOGIE] path
         WHERE path.COD_PAY = p.COD_PAY AND path.ENDEMIQUE_REGION = 1
         FOR XML PATH('')) AS PATHOLOGIES_ENDEMIQUES
        
    FROM [ref].[PAYS] p
    WHERE (@cod_pay IS NULL OR p.COD_PAY = @cod_pay)
    ORDER BY p.LIB_PAY;
END;
GO
USE [master]
GO
